<!DOCTYPE html>
<html lang="en">
<head>
<title>MNGREGA</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'css/c.css' %}">
</head>
<body>

    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="{% url 'home' %}" class="navbar-brand">MGNREGA</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'home'%}" class="nav-item nav-link">Home</a>
                    <a href="{% url 'detailsi' %}" class="nav-item nav-link">Details</a>
                    <a href="{% url 'employeed' %}" class="nav-item nav-link">Employee Details</a>
                    <a href="{% url 'workerd' %}" class="nav-item nav-link">Worker Details</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <form class="form-inline" action="/action_page.php">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-login"></i> Login</a>
                    </li>/
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-register"></i>Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-newspaper-o"></i>Profile </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="#">Name</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
    {% block content %}

    {% endblock  %}
</body>

<footer class="page-footer font-small blue fixed-bottom" style="background-color:#101010;">
    <!-- Copyright -->
        <div class="footer-copyright text-center py-2" style="color:aliceblue;">
        Copyright © MNGREGA.com All Rights Reserved|Contact Us: +91 1000516525505
        </div>
        <!-- Copyright -->
</footer> 
</html>

