{% extends 'base2.html' %}

{% block content %}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <div class="row">
    <div class="col-md-10">
    <h1>We Provide Following Products</h1>
    <p>We Serve You the best Category</p>
    </div>
    <div class="col-md-2">
        <a href="{% url 'addc'%}" class="btn btn-danger btn-lg"><i class='fas fa-pen'>Add More Category</i></a>
    </div>
    </div>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        <div class="card-header bg-dark text-white" style="width: 250px;">Cereals</div>
        {% load static %}
        <img src="{% static 'sr/Cereals.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
        <div class="card-footer" style="width: 250px;">
            <p> Description Price 1kg-200/-</p>
            <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
        </div>
        </div>
        <div class="col-md-3">
            <div class="card-header bg-dark text-white" style="width: 250px;">Vegetables</div>
            {% load static %}
            <img src="{% static 'sr/Vegetables.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
            <div class="card-footer" style="width: 250px;">
                <p> Description Price 1kg-200/-</p>
                <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-header bg-dark text-white" style="width: 250px;">Fruits</div>
            {% load static %}
            <img src="{% static 'sr/Fruits.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
            <div class="card-footer" style="width: 250px;">
                <p> Description Price 1kg-200/-</p>
                <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-header bg-dark text-white" style="width: 250px;">Oils</div>
            {% load static %}
            <img src="{% static 'sr/Oils.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
            <div class="card-footer" style="width: 250px;">
            <p> Description Price 1kg-200/-</p>
            <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        <div class="card-header bg-dark text-white" style="width: 250px;">Fuels</div>
        {% load static %}
        <img src="{% static 'sr/Fuels.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
        <div class="card-footer" style="width: 250px;">
            <p> Description Price 1kg-200/-</p>
            <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
        </div>
        </div>
        <div class="col-md-3">
            <div class="card-header bg-dark text-white" style="width: 250px;">Fibres</div>
            {% load static %}
            <img src="{% static 'sr/Fibres.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
            <div class="card-footer" style="width: 250px;">
                <p> Description Price 1kg-200/-</p>
                <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-header bg-dark text-white" style="width: 250px;">Raw Materials</div>
            {% load static %}
            <img src="{% static 'sr/Raw Materials.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
            <div class="card-footer" style="width: 250px;">
                <p> Description Price 1kg-200/-</p>
                <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-header bg-dark text-white" style="width: 250px;">Diary Products</div>
            {% load static %}
            <img src="{% static 'sr/Diary.jpg' %}" class="img-thumbnail" style="width: 250px; height:300px;">
            <div class="card-footer" style="width: 250px;">
            <p> Description Price 1kg-200/-</p>
            <a href="{% url 'productv'%}" class="btn btn-danger">View More</a>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>
{% endblock %}